@charset "utf-8";

/*-------------------------------------------------------------------
    파일정의 : 레이아웃
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @공통
-------------------------------------------------------------------*/
#skip-nav {height:0}
#skip-nav a {display: block; position: absolute; left: 0; top: -100px; width: 100%; height: 1px; text-align: center}
#skip-nav a:focus, #skip a:active {position: absolute; top: 0; z-index: 120; height: 25px; padding: 10px 0; font-size: 1.4em; font-weight: 700; color: #36348f; background: #fff;}

/*-------------------------------------------------------------------
    @header
-------------------------------------------------------------------*/
#header {background: #343A40; flex: none;}
#header .container {padding-left: 3rem; padding-right: 3rem; display: flex; justify-content: space-between; align-items: center; height: 7.2rem;}

.funeral {font-family: 'NotoSerif'; font-size: 2.4rem; color: #ffffff; font-weight: 500; text-align: center; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}

.logo{}
.logo a{ display: block; width: 100%; height: 100%; text-indent: -9999px; }

.gnb{}

.gnb-m{}

.etc {}

.shortcut {}

.util {}

.support {}

.assistant {}

.branding {}
 
/*-------------------------------------------------------------------
    @footer
-------------------------------------------------------------------*/
#footer{}

.link{}

.family{}

.sns{}

.address{}

.logo-f{}

.copyright{}

.fnb {}
 
/*-------------------------------------------------------------------
    @content
-------------------------------------------------------------------*/
#wrapper {flex: 1 0; /*overflow: auto;*/}
#header + #wrapper {max-height: calc(100vh - 7.2rem);}
#header + #wrapper > .content {padding: 2rem 2rem; max-height: calc(100vh - 7.2rem);}

.container { margin-left: auto; margin-right: auto; position: relative;}

.has-padding{}

body {display: flex; flex-direction: column; height: 100vh; background-color: #F1F3F5;}

/*-------------------------------------------------------------------
    @floating
-------------------------------------------------------------------*/
 
/*-------------------------------------------------------------------
    @popup
-------------------------------------------------------------------*/
.dim {position: fixed; width: 100vw; height: 100vh; background-color: #000000; opacity: 0.5; z-index: 98;}
.popup {position: fixed; z-index: 99; border-radius: 1rem; overflow: hidden; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none;}
.popup.alert.on {display: block;}
.popup.alert {background-color: #ffffff;}
.popup.alert .btn-pop-close {position: absolute; right: 2rem; top: 2rem;}
.popup.alert .inner {padding: 5rem 0;}
.popup.alert .inner i[class^='ic-'] {margin: 0 auto;}
.popup.alert .inner .txt {margin-top: 2rem; font-size: 3.6rem; font-weight: 700; line-height: 1.25; text-align: center;}
.popup.layer.on {display: flex;}

.popup.layer {flex-direction: column; align-items: flex-start; border-radius: 1rem; max-height: calc(100vh - 13rem);}
.popup.layer > * {width: 100%;}
.popup.layer .pop-head {flex: none; height: 6rem; position: relative; padding: 1.5rem 0; background-color: #343A40;}
.popup.layer .pop-head .tit {text-align: center; font-size: 2.4rem; font-weight: 700; color: #ffffff; line-height: 1.25;}
.popup.layer .pop-head .btn-pop-close {position: absolute; right: 3rem; top: 2rem;}
.popup.layer .pop-body {max-height: calc(100vh - 19rem); overflow: auto; background-color: #ffffff;}