@charset "utf-8";

/*-------------------------------------------------------------------
    @genaral
-------------------------------------------------------------------*/
/* grid */

/*-------------------------------------------------------------------
    @elements
-------------------------------------------------------------------*/
/* button */
.btn-wrap {display: flex; align-items: center; justify-content: center; gap: 0 1rem;}

.btn { border: 1px solid transparent; padding: 0 0; margin: 0 0; display: flex; align-items: center; width: 100%; align-items: center; justify-content: center; font-weight: 700;}
.btn-ic{ border: none; padding: 0; margin: 0; display: block; text-indent: -9999px; background-size: 100%; background-repeat: no-repeat; background-position: center;}

.btn.fill-blue {background-color: #4C6EF5; border-color: #4C6EF5; color: #ffffff;}
.btn.fill-white {background-color: #FFFFFF; border-color: #FFFFFF; color: #4C6EF5;}
.btn.fill-orange {background-color: #FF784F; border-color: #FF784F; color: #ffffff;}
.btn.fill-black {background-color: #343A40; border-color: #343A40; color: #ffffff;}

.btn.line-orange {background-color: #ffffff; border-color: #FF784F; color: #FF784F;}

.btn.sm {height: 6rem; border-radius: 0.8rem; font-size: 2.4rem;}
.btn.md {height: 6.4rem; border-radius: 0.8rem; font-size: 3rem;}
.btn.lg {height: 8rem; border-radius: 0.8rem; font-size: 3rem;}

.btn-home {padding-left: 4rem; width: fit-content; font-size: 2.4rem; font-weight: 700; color: #ffffff; background: url('../img/icon/ic_home.png') no-repeat left center; background-size: 3rem;}
.btn.btn-reset {padding-left: 3.4rem; width: fit-content; font-size: 1.6rem; font-weight: 700; color: #ffffff; background: url('../img/icon/ic_reset_d.png') no-repeat left center; background-size: 2.4rem;}
.btn-ic.btn-reset {width: 6.4rem; height: 6.4rem; border-radius: 50%; background: #343A40 url('../img/icon/ic_reset_w.png') no-repeat center; background-size: 2.6rem; box-shadow: 0px 4px 10px 0px #0000004D; position: fixed; bottom: 3rem; right: 33rem;}
.btn-exclude {width: 2rem; height: 2rem; background-image: url('../img/icon/ic_excude.png');}
.btn-down {width: 4rem; height: 4rem; border-radius: 0.4rem; border: 1px solid #868E96; background: #ffffff url('../img/icon/ic_down.png') no-repeat center; background-size: 2.8rem;}
.btn-up {width: 4rem; height: 4rem; border-radius: 0.4rem; background: #868E96 url('../img/icon/ic_up.png') no-repeat center; background-size: 2.8rem;}
.btn-pop-close {width: 2rem; height: 2rem; background-image: url('../img/icon/ic_pop_close.png');}
.btn-detail {width: 4rem; height: 4rem; background-image: url('../img/icon/ic_detail.png');}

/* icon */
i[class^='ic-'] {display: block; background-size: 100%; background-repeat: no-repeat; background-position: center;}

.ic-complete {width: 8rem; height: 8rem;}
.ic-complete.blue {background-image: url('../img/icon/ic_complete_b.png');}
.ic-complete.orange {background-image: url('../img/icon/ic_complete_o.png');}
.ic-cancle {width: 8rem; height: 8rem; background-image: url('../img/icon/ic_cancle.png');}
.ic-chit {width: 2.4rem; height: 2.4rem; background-image: url('../img/icon/ic_chit.png');}
.ic-date {width: 2.4rem; height: 2.4rem; background-image: url('../img/icon/ic_date.png');}

/* bullet */

/* list */
.list-wrap {}

.list-wrap.v1 ul {display: flex; flex-wrap: wrap; gap: 2rem 2rem;}
.list-wrap.v1 ul li {width: calc(50% - 1rem); background-color: #ffffff; border-radius: 1rem; overflow: hidden;}
.list-wrap.v1 ul li .head {background-color: #ADB5BD; display: flex; justify-content: space-between; align-items: center; height: 6rem; padding: 0 4rem 0 2rem;}
.list-wrap.v1 ul li .head .room {display: flex; align-items: center; justify-content: flex-start; gap: 0 2rem;}
.list-wrap.v1 ul li .head .room .num {display: flex; align-items: center; justify-content: flex-start; gap: 0 1rem; font-size: 2rem; font-weight: 700; color: #ffffff;}
.list-wrap.v1 ul li .head .room .num span {flex: none; width: 8rem; height: 2..8rem; border-radius: 1.4rem; background-color: #ffffff; text-align: center; line-height: 2.8rem; font-size: 2rem; font-weight: 700; color: #343A40;}
.list-wrap.v1 ul li .head .room .floor {font-size: 2rem; font-weight: 700;}
.list-wrap.v1 ul li .head .date p {display: flex; align-items: center; justify-content: flex-start; gap: 0 2rem; color: #ffffff; font-size: 2rem; font-weight: 300;}
.list-wrap.v1 ul li .head .date p span {font-weight: 700;}
.list-wrap.v1 ul li .body {padding: 2rem 4rem;}
.list-wrap.v1 ul li .body .person {display: flex; align-items: flex-end; justify-content: space-between;}
.list-wrap.v1 ul li .body .person .decease {font-size: 4rem; line-height: 1.2; font-weight: 700;}
.list-wrap.v1 ul li .body .person .reside {font-size: 2rem; line-height: 1.2; font-weight: 300; color: #868E96; gap: 0 1.5rem; display: flex; align-items: center; justify-content: flex-start;}
.list-wrap.v1 ul li .body .person .reside .name {font-weight: 700; color: #343A40; line-height: 1.2;}
.list-wrap.v1 ul li .body .person + .data {margin-top: 1rem; border-top: 1px solid #CED4DA; padding-top: 2rem;}
.list-wrap.v1 ul li .body .data {display: flex; align-items: flex-start;}
.list-wrap.v1 ul li .body .data .total {flex: 1 0; height: auto;}
.list-wrap.v1 ul li .body .data .total dl {display: flex; align-items: flex-start; justify-content: flex-start; gap: 0 1.5rem;}
.list-wrap.v1 ul li .body .data .total dl + dl {margin-top: 1rem;}
.list-wrap.v1 ul li .body .data .total dl > * {font-size: 2rem; line-height: 1.2;}
.list-wrap.v1 ul li .body .data .total dl dt {color: #868E96; font-weight: 300;}
.list-wrap.v1 ul li .body .data .total dl dd strong {display: inline-block; font-weight: 700; line-height: 1.2;}
.list-wrap.v1 ul li .body .data .btn-wrap {width: 20rem; flex: none;}

.list-wrap.v2 ul li + li {margin-top: 0.8rem;}
.list-wrap.v2 ul li {background-color: #ffffff; height: 10rem; border-radius: 0.8rem;}
.list-wrap.v2 ul li a {display: block; height: 100%; display: flex; align-items: center; padding: 0 2rem; color: #343A40}
.list-wrap.v2 ul li .menu {flex: 1 0; font-size: 2.4rem; font-weight: 700; line-height: 1.25; padding: 0 2rem;}
.list-wrap.v2 ul li .serving {padding: 0 2rem; flex: none; font-size: 2rem; font-weight: 500; line-height: 1.25; width: 10rem;}
.list-wrap.v2 ul li .price {flex: none; padding-right: 2rem; width: 19rem; font-size: 2.4rem; font-weight: 700; text-align: right; flex: none;}

.list-wrap.v3 ul li {background-color: #ffffff; border-radius: 0.8rem; padding: 2rem 2rem; position: relative}
.list-wrap.v3 ul li + li {margin-top: 0.8rem;}
.list-wrap.v3 ul li .btn-exclude {position: absolute; right: 1rem; top: 2rem;}
.list-wrap.v3 ul li .menu {font-size: 2rem; font-weight: 700; line-height: 1.2; width: calc(100% - 3rem);}
.list-wrap.v3 ul li .price {margin-top: 1rem; font-size: 2rem; font-weight: 700; line-height: 1.2; color: #5C7CFA;}
.list-wrap.v3 ul li .price.return {padding-left: 3.4rem; background: url('../img/icon/ic_return.png') no-repeat left center; background-size: 2.4rem; color: #FF784F;}
.list-wrap.v3 ul li .updown {margin-top: 2rem; display: flex; align-items: center; gap: 0 1rem;}
.list-wrap.v3 ul li .updown input[type="text"] {text-align: center; height: 4rem; font-size: 2.4rem; font-weight: 700; background-color: #F1F3F5; border-radius: 0.4rem;}
.list-wrap.v3 ul li .updown .btn-ic {flex: none;}

.list-wrap.v4 > div > ul > li {display: flex; align-items: center; justify-content: flex-start;}
.list-wrap.v4 > div > ul > li > * {flex: 1 0;}
.list-wrap.v4 .num {flex: none; width: 10.892%;}
.list-wrap.v4 .divide {flex: none; width: 16.337%;}
.list-wrap.v4 .category {flex: none; width: 5.941%;}
.list-wrap.v4 .date {flex: none; width: 21.288%;}
.list-wrap.v4 .status {flex: none; width: 13.862%;}
.list-wrap.v4 .detail {flex: none; width: 9.901%;}
.list-wrap.v4 .list-head {position: sticky; top: 0; z-index: 1; padding: 0 3rem; box-shadow: 0px 0.4rem 0.4rem 0px #0000001A; background-color: #EFF1F4; flex: none;}
.list-wrap.v4 .list-head ul li p {text-align: center; padding: 1.8rem 0; font-size: 2rem; line-height: 1.2; font-weight: 700;}
.list-wrap.v4 .list-body {padding: 2rem 3rem; flex: 1 0; overflow: auto;}
.list-wrap.v4 .list-body ul li {background-color: #ffffff; border-radius: 0.8rem;}
.list-wrap.v4 .list-body ul li + li {margin-top: 0.8rem;}
.list-wrap.v4 .list-body ul li > div {display: flex; align-items: center; justify-content: center; line-height: 1.25; padding: 3rem 0; font-size: 2.4rem; font-weight: 500;}
.list-wrap.v4 .list-body ul li .num {font-weight: 700;}
.list-wrap.v4 .list-body ul li .price {font-weight: 700;}
.list-wrap.v4 .list-body ul li .price.plus {color: #4C6EF5}
.list-wrap.v4 .list-body ul li .price.minus {color: #FF784F;}
.list-wrap.v4 .list-body ul li.return .category {color: #ADB5BD;}
.list-wrap.v4 .list-body ul li.return .status {color: #ADB5BD;}
.list-wrap.v4 .list-body ul li.return .date {color: #ADB5BD;}
.list-wrap.v4 .list-body ul li.complete .status {font-weight: 700;}
.list-wrap.v4 .list-body ul li.cancle .status {color: #FF784F;}

.list-wrap.v5 table {width: 100%;}
.list-wrap.v5 table thead tr th,
.list-wrap.v5 table tbody tr td {font-size: 2rem; vertical-align: middle; padding: 0 3rem;}
.list-wrap.v5 table thead tr th {background-color: #F3F4F8; font-weight: 700; color: #4C6EF5; height: 6rem;}
.list-wrap.v5 table tbody tr {border-bottom: 1px solid #EBEDEF; height: 5.6rem;}
.list-wrap.v5 table tbody tr td {text-align: center;}

/* img list */
.img-list{}

.img-list.v1{}

/* title */
.tit-wrap{}
.tit-wrap .tit{}

.tit.v1{}

/* text */
.txt-warning{}
.txt-comment{}

/* label */
.label.v1 {width: 6.5rem; line-height: 3.6rem; border-radius: 1.8rem; color: #ffffff; display: block; text-align: center; font-size: 2rem; font-weight: 700;}
.label.v1.orange {background-color: #FF784F;}
.label.v1.blue {background-color: #4C6EF5;}

/* table */
.tbl-wrap{}
.tbl-wrap table{ width: 100%; table-layout: fixed; }

.tbl-wrap.v1{}

/* paging */
.paging{}
.paging ul{}
.paging ul li{}
.paging ul li a{}
.paging ul li.front{}
.paging ul li.prev{}
.paging ul li.next{}
.paging ul li.back{}

/* íƒ­ */
.tab-wrap.v1 .tab-btn-wrap {display: flex; gap: 0 0.8rem; justify-content: flex-start; align-items: flex-start;}
.tab-wrap.v1 .tab-btn-wrap .tab-btn {line-height: 4.8rem; padding: 0 3rem; font-size: 2rem; font-weight: 700; border-radius: 2.4rem; background-color: #CED4DA; color: #343A40}
.tab-wrap.v1 .tab-btn-wrap .tab-btn.on {background-color: #4C6EF5; color: #ffffff;}
.tab-wrap.v1 .tab-cont-wrap {margin-top: 2rem;}

/*-------------------------------------------------------------------
    @collections
-------------------------------------------------------------------*/
/* form group */
input[type="text"],
input[type="password"] {display: block; background-color: #F8F9FA; border-radius: 0.8rem; padding: 0 2rem; font-size: 2rem; height: 6rem; width: 100%;}

/* form mixins */